.form-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5px;
}

.right-align {
  text-align: right;
}

.buy-button {
  width: 50px;
}

.mat-form-field {
  display: unset;
}
