<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
    <mat-label>Amount</mat-label>
    <input
      matInput
      type="number"
      class="right-align"
      step="0.1"
      autocomplete="off"
      formControlName="amount"
    />
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
    <mat-label>How many drinks</mat-label>
    <input
      matInput
      type="number"
      class="right-align"
      step="1"
      autocomplete="off"
      formControlName="quantity"
    />
  </mat-form-field>

  <button
    mat-stroked-button
    (click)="$event.stopPropagation()"
    class="buy-button"
    type="submit"
  >
    BUY
  </button>
</form>
