<div class="wrapper">
  <div class="main-vend">
    <vend-vending-machine-ui
      [dataSource]="vendingMachineFacade.currentStockList$ | async"
      [currentStock]="vendingMachineFacade.currentStock$ | async"
      [change]="vendingMachineFacade.change$ | async"
      [restocked]="vendingMachineFacade.restocked$ | async"
      [purchaseError]="vendingMachineFacade.purchaseError$ | async"
      (purchase)="newOrder($event)"
      (restock)="restock()"
    ></vend-vending-machine-ui>
  </div>
</div>
