.card-wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card {
  height: 45vh;
  width: 30vw;
}

.header-thumbnail {
  background-image: url('/assets/imgs/soda.svg');
  background-size: cover;
}

.body-wrapper {
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5px;
}

.right-align {
  text-align: right;
}

.buy-button {
  width: 50px;
}

.change {
  padding: 1rem 0.2rem;
  color: red;
  text-decoration: underline;
}

.mat-form-field {
  display: unset;
}

.mat-card-header {
  height: 4vh;
  margin-top: 1rem;
}

.mat-card-content {
  height: 100%;
  overflow-y: auto;
}

.mat-card-actions {
  display: flex;
  flex-direction: column;
}
