<mat-card class="card-wrapper">
  <div class="body-wrapper">
    <mat-card-header>
      <div>
        <mat-card-title>Vending Machine</mat-card-title>
        <mat-card-subtitle>Buy Your Favourite Drink</mat-card-subtitle>
      </div>
      <div [matBadge]="currentStock" matBadgeOverlap="false">
        <div mat-card-avatar class="header-thumbnail"></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <vend-stock-table [drinkList]="dataSource"></vend-stock-table>
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <div class="change" *ngIf="change">
      <div>Collect Your Change: {{ change }} $</div>
    </div>
    <div class="card-footer">
      <button
        mat-stroked-button
        color="primary"
        [matMenuTriggerFor]="menu"
        #menuTrigger
      >
        INSERT COINS
      </button>
      <mat-menu #menu="matMenu">
        <vend-buy-menu
          [restocked]="restocked"
          [errorMessage]="purchaseError"
          (purchase)="newOrder($event)"
        ></vend-buy-menu>
      </mat-menu>

      <button
        mat-stroked-button
        color="accent"
        (click)="restockVendingMachine()"
      >
        RESUPPLY
      </button>
    </div>
  </mat-card-actions>
</mat-card>
